<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
    <div class="form-container">
        <h2>新規登録</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">新規登録</button>
        </form>

        <p>すでにアカウントをお持ちですか？ <a href="{% url 'login' %}">ログイン</a></p>
    </div>
</body>
</html>
